
  <div id="feed" data-user-infected = <%=@user.infected%>
                 data-user-id = <%= @user.id %>
                 <% if Game.current %>
                    data-game-state = <%= Game.current.current_game_state %>>
                 <% end %>
  <% if Game.current %>
    <script type="text/javascript">
      $(function() {
        polling.startPolling();
      })
    </script>
  <% else %>
    <%= render partial: "games/end_game" %>
  <% end %>

  </div>
  <!-- <div class="sidebar2"></div> -->
  <div id="footer">
  <!-- this button is hidden unless mobile -->
    <button id ="menu" onclick = "$('#menu_box').toggle();
    document.getElementById('fade').style.display='block'">Menu</button>
  <!--                                     -->
    <ul>
      <li><button id="confront" onclick = "document.getElementById('battle_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; "><a href="#">Bite!</a></button></li>
      <li><button id="checkin" onclick = "document.getElementById('checkin_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; "><a href="#">Harvest</a></button></li>
      <li><button id="rules" onclick = "document.getElementById('rules_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; ">View Rules</button></li>
      <li><button><%= link_to "logout", session_path(@user), :method => 'DELETE' %></button></li>
      <li><h4 id = 'handle'>Code: <%= @user.handle%></h4></li>
    </ul>
  </div>

<!-- Hidden light boxes below -->

<!-- Menu -->

<div id="menu_box" class="white_content">
    <ul>
      <li><h2 id = 'handle'>Code: <%= @user.handle%></h2></li>
      <li><button id="confront" onclick = "document.getElementById('battle_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; " class = ".inner">Bite!</button></li>
      <li><button id="checkin" onclick = "document.getElementById('rules_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; "class = ".inner"><a href="#">Harvest</a></button></li>
      <li><button id="rules" onclick = "document.getElementById('rules_box').style.display='block';document.getElementById('fade').style.display='block'"
      style = "font-family: 'Rock Salt', cursive; " class = ".inner">View Rules</button></li>
      <li><button class = ".inner"><%= link_to "logout", session_path(@user), :method => 'DELETE' %></button></li>
    </ul>
    </div>
<div id="fade" class="black_overlay"></div>

<!-- Battle -->
  <div id="battle_box" class="white_content"><h1>Battle</h1>
    <p>Prepare to fight!</p>
    <form action="" method="put" id="new-battle">
      <label for="opponent_id">Enter your opponent's secret code: </label>
      <input type="text" name="opponent_id" maxlength="5">
      <input id = "tempt-fate" type="submit" value="Tempt Fate"><span class = "back_link_battle" ><a href="/">      Nevermind!</a></span>
    </form>

  </div>
<div id="fade" class="black_overlay"></div>

<!-- Rules -->
  <div id="rules_box" class="white_content"><h1>Rules</h1>
    <ul id = "rules_list">
      <li>1. Humans wear your bandana clearly visible on your arm or leg. Zombies wear your bandana clearly on your head.</li>
      <li>2. If an opponent taps you to do battle, you must stop and allow him or her enter your code into their phone for battle. </li>
      <li>3. Don't leave the city for the duration of the game.</li>
      <li>4. Don't communicate your location to the opposite team.</li>
    </ul>
    <button id = "hide_me" href = "javascript:void(0)" onclick = "document.getElementById('rules_box').style.display='none';
    document.getElementById('fade').style.display='none'">I got it, thanks!</button>
    </div>
<div id="fade" class="black_overlay"></div>


<!-- Checkins-->
<div id="checkin_box" class="white_content">
    You look everywhere - you're desperate to find that cure ingredient....
    <br>
    <br>
    <button id = "hide_me" href = "javascript:void(0)" onclick = "document.getElementById('checkin_box').style.display='none';
    document.getElementById('fade').style.display='none'">Is it here?</button>
    </div>
<div id="fade" class="black_overlay"></div>
