
  <div id="feed" data-user-infected = <%=@user.infected%>
                 data-user-id = <%= @user.id %>>
  <%= render partial: "event", collection: @events %>
  </div>
  <!-- <div class="sidebar2"></div> -->
  <div class="twelve_columns" id="footer">
  <%= link_to "logout", session_path(@user), :method => 'DELETE' %>
    <ul>
      <li><button><%= link_to "Battle!", new_battle_path, id: "confront", remote: "true" %></button></li>
      <li><button id="rules">View Rules</button></li>
    </nav>
    </ul>
  </div>
